.body {
    background-color: rgb(25, 25, 25);
    font-family: "Josefin Sans";
    color: rgb(220, 220, 220);
}

.title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 4px;
}

.div1 {
    border-top: 8px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.subtitle1 {
    text-align: center;
}

.div2 {
    border-top: 4px solid rgb(220, 220, 220);
    border-radius: 3px;
}

.explanation {
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

.counts {
    text-align: center;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(25, 25, 25);
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.counts:hover {
    background-color: rgb(200, 200, 200);
}

.counts:active {
    background-color: rgb(180, 180, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.container {
    height: 100px;
    position: relative;
}