body {
    background-color: #191528;
    font-family: "Josefin Sans";
    color: #f5f3f4;
}

.title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 4px;
}

.div1 {
    border-top: 8px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.div2 {
    border-top: 4px solid rgb(220, 220, 220);
    border-radius: 3px;
    margin-top: 30px;
}

button {
    text-align: center;
    background-color: #f5f3f4;
    border: none;
    color: rgb(25, 25, 25);
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    width: 150px;
}


.converter {
    position: relative;
    display: block;
    text-align: center;
}

.converter label, input, button, div {
    margin: 10px 0;
}

.converter input {
    font-family: 'Josefin Sans';
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    width: 70%;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

button:active {
    background-color: rgb(180, 180, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.center button {
    text-align: center;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(25, 25, 25);
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    width: 300px;
    margin: 10px;
    text-decoration: none;
}

.center button:hover {
    background-color: rgb(200, 200, 200);
}

.center button:active {
    background-color: rgb(180, 180, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.center {
    position: relative;
    display: block;
    text-align: center;
  }

.container {
    height: 200px;
    position: relative;
}


.contacts {
    font-size: 36px;
    text-align: center;
}
.contacts a {
    transition: 0.15s ease-in;
    margin: 1.5%;
}

.contacts a:hover {
    color: rgb(120, 120, 120);
}

.contacts a:active {
    color: rgb(100, 100, 100);
    transform: translateY(3px);
}

.rounded-button {
    width: 50px;
    height: 50px;
    color: rgb(220, 220, 220);
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 25%;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    line-height: unset;
}